body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
    background-image: url('path/to/your/background.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    text-align: center;
    padding: 20px;
}

.navigation {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background: linear-gradient(135deg, #66ccff, #55a3cc); /* Градиент */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #55a3cc, #66ccff); /* Поменял местами цвета градиента */
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Тень при наведении */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program {
    background-color: rgba(43, 43, 43, 0.9);
    border-radius: 8px;
    margin: 15px 0;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s; /* Плавное появление */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.program:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pros-card,
.cons-card {
    background-color: #333333;
    border-radius: 8px;
    flex: 1 1 45%;
    margin: 10px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pros-card:hover,
.cons-card:hover {
    transform: translateY(-5px); /* Эффект поднятия при наведении */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #66ccff;
}

h3 {
    margin: 0;
    color: #ffcc00;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 600px) {
    button {
        padding: 10px 5px;
        font-size: 14px;
    }

    .program {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}
